//
// EnforcementAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class EnforcementAPI {

    /**
     Check a permission
     
     - parameter authzEnforceRequest: (body)  
     - returns: AuthzCheckResponse
     */
    @available(macOS 10.15, iOS 13.0, tvOS 13.0, watchOS 6.0, *)
    open class func authzAuthzCheck(authzEnforceRequest: AuthzEnforceRequest) async throws -> AuthzCheckResponse {
        return try await authzAuthzCheckWithRequestBuilder(authzEnforceRequest: authzEnforceRequest).execute().body
    }

    /**
     Check a permission
     - POST /v1/authz/check
     - Evaluates whether subject `sub` may perform action `act` on object `obj` under the calling org's policy set. The org is selected by the gateway-minted `X-Org-Id` header; an unauthenticated request (no org) is rejected. All three fields are required. 
     - Bearer Token:
       - type: http
       - name: bearerAuth
     - parameter authzEnforceRequest: (body)  
     - returns: RequestBuilder<AuthzCheckResponse> 
     */
    open class func authzAuthzCheckWithRequestBuilder(authzEnforceRequest: AuthzEnforceRequest) -> RequestBuilder<AuthzCheckResponse> {
        let localVariablePath = "/v1/authz/check"
        let localVariableURLString = HanzoAPI.basePath + localVariablePath
        let localVariableParameters = JSONEncodingHelper.encodingParameters(forEncodableObject: authzEnforceRequest)

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [
            "Content-Type": "application/json",
        ]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<AuthzCheckResponse>.Type = HanzoAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "POST", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters, requiresAuthentication: true)
    }
}
