//
// PluginsAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class PluginsAPI {

    /**
     List mounted plugins
     
     - returns: PluginPluginList
     */
    @available(macOS 10.15, iOS 13.0, tvOS 13.0, watchOS 6.0, *)
    open class func pluginListPlugins() async throws -> PluginPluginList {
        return try await pluginListPluginsWithRequestBuilder().execute().body
    }

    /**
     List mounted plugins
     - GET /v1/plugins
     - Returns every plugin currently mounted from the runtime manifest, as a flat list of `{name, kind, prefix}`. This is introspection only — it does not expose the plugins' own routes, which live at each plugin's `prefix`. The list is empty when no manifest is configured (`CLOUD_PLUGINS` unset). 
     - Bearer Token:
       - type: http
       - name: bearerAuth
     - returns: RequestBuilder<PluginPluginList> 
     */
    open class func pluginListPluginsWithRequestBuilder() -> RequestBuilder<PluginPluginList> {
        let localVariablePath = "/v1/plugins"
        let localVariableURLString = HanzoAPI.basePath + localVariablePath
        let localVariableParameters: [String: Any]? = nil

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [
            :
        ]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<PluginPluginList>.Type = HanzoAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "GET", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters, requiresAuthentication: true)
    }
}
